<% layout("/layouts/boilerplate") %>

<div class="row">
    <div class="col-8 offset-2">
        <h2>Create New Listing</h2>
        <form method="POST" action="/listings" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="listing[title]" id="title" class="form-control" placeholder="Enter title" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please provide a title.</div>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" id="description" class="form-control" placeholder="Enter description" required></textarea>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please provide a description.</div>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Image URL</label>
                <input type="url" name="listing[image][url]" id="image" class="form-control" placeholder="Enter image URL">
                <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <div class="input-group">
                        <span class="input-group-text">₹</span>
                        <input type="number" name="listing[price]" id="price" class="form-control" placeholder="Price" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please provide a valid price.</div>
                    </div>
                </div>

                <div class="mb-3 col-md-8">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" id="location" class="form-control" placeholder="Enter location" required>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please provide a location.</div>
                </div>
            </div>

            <div class="mb-3">
                <label for="country" class="form-label">Country</label>
                <input type="text" name="listing[country]" id="country" class="form-control" placeholder="Enter country" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please provide a country.</div>
            </div>

            <button class="btn btn-primary add-btn mt-3">Add Listing</button>
        </form>
    </div>
</div>